$hopbush: #eee !default;
$header-color:#07beb5;
$search-bar:#04cfc5;
$icon-color:#ff695f;
$bgsection:#f6f7f8;
$bg:#d3aed3;
$bg2:#f6f6f6;
$text-color:#fff;
$padding:3em 2em;
$full-width:100%;
$input:40px;
$textarea:150px;
$contact-color:#ec576b;